# https://huggingface.co/camenduru/pytorch3d-build/resolve/main/pytorch3d-0.2.5-cp310-cp310-linux_x86_64.whl
# torch==1.11.0
# pytorch3d
kornia
matplotlib
opencv-python
trimesh
scipy
# chumpy
pymp
importlib-resources
pycocotools
openpyxl
dominate
git+https://github.com/vislearn/FrEIA.git
gradio
